img{
    width: 180px;
    height: 80px;
}
.title{
    margin-top: 20px;
}
ul{
    list-style-type: none;
    
}
li{
    padding:0 20px;
}
nav{
    border-bottom: 1px solid black;
    
    padding-top: 20px;
    
}
h2{
    margin-top: 50px;
}
.second{
    list-style-type: lower-latin;
}
a{
    text-decoration: none;
}
footer{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-top: 1px solid #efefef;
}
i{
    padding:5px;
    background-color: #50bffd;
    color: white;
}
.clr{
    color: #cecece;
}
